<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>TripTrekker Payment</title>
  <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet"/>
  <link rel="stylesheet" href="../views/css/confirmation.css">
</head>
<body>
  <div class="container">
    <h2>Payment Verification</h2>
    <input type="text" id="mobileNumber" placeholder="Enter Mobile Number" />
    <input type="text" id="cardNumber" placeholder="Card Number (16 digits)" />
    <input type="text" id="expiryDate" placeholder="MM/YY" />
    <input type="text" id="cvv" placeholder="CVV (3 digits)" />
    <button onclick="sendOTP()">Send OTP</button>
    <div id="otpSection">
      <input type="text" id="otp" placeholder="Enter OTP" />
      <button onclick="verifyOTP()" type="submit">Verify OTP</button>
    </div>
    <p id="message"></p>
    <button id="payButton" onclick="processPayment()">Proceed to Pay</button>

  </div>
  <div class="loading-screen" id="loadingScreen">
    <div class="loading-circle"></div>
    <div class="tick" id="tick">✔</div>
    <div class="success-message" id="successMessage">Payment Successful!</div>
  </div>
  <script src="../views/js/confirmation.js"></script>
</body>
</html>
