<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Booking Confirmation</title>
  <link rel="stylesheet" href="./css/pay.css"/>
</head>
<body>
  <div class="card">
    <h2>Booking Confirmation</h2>
    <p id="name"></p>
    <p id="email"></p>
    <p id="age"></p>
    <p id="destination"></p>
    <p id="seats"></p>
    <p id="unitPrice"></p>
    <p class="total" id="totalPrice"></p>

    <button onclick="goToPayment()">Proceed to Payment</button>
  </div>

<script src="./js/pay.js"></script>
</body>
</html>