<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Payment Success</title>
  <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet"/>
  <link rel="stylesheet" href="../views/css/success.css">
</head>
<body>
 <div class="success-container">
    <h1>✅ Payment Successful!</h1>
    <h2 id="txnId">Transaction ID: </h2>
    <h3 id="amount">Amount Paid: ₹</h3>
    <button onclick="window.location.href='booking-summary.html'">Back</button>
  </div>
<script src="js/success.js"></script>
</body>
</html>
